# pre-commit.ci
ci:
  autofix_commit_msg: |
      [pre-commit.ci] auto fixes from pre-commit hooks

      For more information, see https://pre-commit.ci
  autofix_prs: false
  autoupdate_branch: 'master'
  autoupdate_commit_msg: '[pre-commit.ci] pre-commit autoupdate'
  autoupdate_schedule: 'weekly'
  skip: []
  submodules: false

# hooks
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
    - id: check-json
      name: Check JSON
    - id: check-toml
      name: Check TOML
    - id: check-yaml
      name: Check YAML
    - id: debug-statements
    - id: end-of-file-fixer
    - id: mixed-line-ending
      exclude: ^CHANGELOG.md$
    - id: name-tests-test
      args: ["--pytest-test-first"]
      exclude: ^.*/utils.py$
    - id: trailing-whitespace
      args: [--markdown-linebreak-ext=md]

  - repo: https://github.com/DavidAnson/markdownlint-cli2
    rev: v0.20.0
    hooks:
    - id: markdownlint-cli2
      name: markdownlint
      exclude: ^(CHANGELOG|docs/(index|LICENSE|CHANGELOG)).md$
      args:
      - --fix
      - --config=.markdownlint.yaml

  - repo: https://github.com/asottile/pyupgrade
    rev: v3.21.2
    hooks:
    - id: pyupgrade
      args: [--py310-plus]

  - repo: https://github.com/psf/black-pre-commit-mirror
    rev: 25.12.0
    hooks:
    - id: black

  - repo: https://github.com/adamchainz/blacken-docs
    rev: 1.20.0
    hooks:
    - id: blacken-docs
      additional_dependencies: [black]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        name: ruff
        args:
        - "--fix"
        - "--exit-non-zero-on-fix"
        - "--show-fixes"

  - repo: https://github.com/PyCQA/bandit
    rev: 1.9.2
    hooks:
    - id: bandit
      args: ["-r"]
      files: ^otelib/.*$

  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.19.1
    hooks:
    - id: mypy
      exclude: ^tests/.*$
      additional_dependencies:
        - "types-requests"
        - "pydantic>=2,<3"
