[build-system]
requires = [
    "setuptools>=42",
    "wheel",
]
build-backend = "setuptools.build_meta"

[tool.mypy]
python_version = "3.9"
ignore_missing_imports = true
scripts_are_modules = true
warn_unused_configs = true
show_error_codes = true
allow_redefinition = true
plugins = ["pydantic.mypy"]

[tool.pylint.messages_control]
max-line-length = 90
disable = [
    "no-name-in-module",
    "no-self-argument",
    "too-few-public-methods",
    "duplicate-code",
]

[tool.pytest.ini_options]
minversion = "6.0"
addopts = "-rs --cov=otelib --cov-report=term --durations=10"
filterwarnings = [
    "ignore:.*imp module.*:DeprecationWarning",
]
requests_mock_case_sensitive = true
